@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

/* variables */
:root {
  --col-primary: #007aff;
  --col-primary-opacity: rgba(0, 122, 255, 0.85);
  --col-primary-dark: #086ad8;
  --col-grey: #a0a0a0;
  --col-light-grey: #f4f9fc;
  --col-dark-grey: #666;
  --col-white: #fafafa;
  --col-black: #1d1d1d;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  font-family: inherit;
}

/* utility classes */
.bg-primary {
  background-color: var(--col-primary);
}
.bg-white {
  background: var(--col-white);
}
.text-primary {
  color: var(--col-primary);
}
.text-light {
  color: var(--col-grey);
}
.text-white {
  color: var(--col-white);
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}

.btn {
  display: inline-block;
  background-color: var(--col-white);
  padding: 1.2rem 2.3rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.form-group {
  margin: 1.2rem 0;
}
.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
}
.form-group textarea,
.form-group input {
  width: 100%;
  border: none;
  padding: 1rem;
  border-radius: 0.3rem;
  border: 1px solid var(--col-grey);
}

.section-cta {
  padding: 1.5rem 4rem;
  background: var(--col-primary);
  color: var(--col-white);
  font-weight: 1.7rem;
  font-weight: 600;
}
.section-cta:hover {
  background: var(--col-primary-dark);
  color: var(--col-white);
}

.section-span {
  display: block;
  margin-bottom: 2rem;
  color: var(--col-dark-grey);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.section-title {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 5rem;
  margin-bottom: 3rem;
}

.quote {
  background-color: var(--col-light-grey);
  padding: 1.8rem;
  border-left: 3px solid var(--col-primary);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.8rem;
}

.transition-sm {
  transition: 0.2s all;
}

/* main styles */

/* topBar */
.topBar {
  padding: 1.5rem;
  background: var(--col-white);
  font-size: 1.4rem;
}
.topBar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topBar li {
  margin-right: 1.5rem;
}
.topBar i {
  float: left;
  margin-right: 0.6rem;
  margin-top: 2px;
  font-size: 1.5rem;
}

/* navbar */
.nav {
  padding: 1rem;
  margin-left: -1rem;
  background-color: var(--col-primary);
  color: var(--col-white);
  font-size: 1.6rem;
  font-weight: 500;
}
.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .nav__menu {
  display: flex;
}

.nav__menu li {
  margin-right: 3.5rem;
}

.nav__menu li a {
  color: var(--col-white);
}
.nav__quote {
  transition: 0.2s all;
}
.nav__quote:hover {
  background: var(--col-primary-dark);
  color: white;
}

.navbar-is-fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 0;
  font-size: 1.5rem;
  z-index: 2;
  box-shadow: 2px 3px 24px rgb(0 0 0 / 30%);
}
.navbar-is-fixed img {
  width: 10rem;
}

.navbar-is-fixed .btn {
  padding: 0.8rem 2rem;
}

/* header */
.header {
  height: 100vh;
  color: var(--col-white);

  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/img/sections/bg1.jpg") no-repeat center center / cover;
}

.header .container {
  height: 100%;
}

.header__content {
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__title {
  margin-bottom: 2.5rem;
  font-size: 6rem;
  line-height: 7.2rem;
  font-weight: 700;
  width: 100%;
}

.header__para {
  margin-bottom: 3.5rem;
  line-height: 3.2rem;
  font-weight: 400;
}

.header .header__btn {
  padding: 2rem 3.5rem;
  background: var(--col-primary);
  color: var(--col-white);
  font-weight: 1.7rem;
  font-weight: 600;
}

.header .header__btn:hover {
  background: var(--col-white);
  color: var(--col-black);
}

/* aboutus section */
.about-us {
  padding: 7rem 1rem;
}
.about-us .container {
  display: flex;
  flex: 1;
}

.about-us__left,
.about-us__left img,
.about-us__right {
  width: 100%;
}

.about-us__left {
  padding-right: 5.5rem;
}

.about-us__right {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about-us__right .para {
  color: var(--col-dark-grey);
  line-height: 3rem;
}

/* services */
.services {
  background-color: var(--col-light-grey);
  padding: 7rem 1rem;
}

.services__top {
  text-align: center;
  margin-bottom: 5rem;
}
.services__items {
  display: flex;
  flex-wrap: wrap;
}

.service-card {
  position: relative;
  height: 36rem;
  display: flex;
  flex-direction: column;
  width: 34rem;
  box-shadow: 0 15px 44px 0px rgb(171 171 171 / 10%);
  border-radius: 0.8rem;
  padding: 2rem 3rem;
  margin: 2rem;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  text-align: center;
  cursor: pointer;
  transition: 0.5s all;
}

.service-card i {
  color: var(--col-primary);
}
.service-card .service-icon {
  font-size: 4.5rem;
}

.service-card .service-name {
  font-size: 2.2rem;
  font-weight: 600;
}

.service-card .service-desc {
  color: var(--col-dark-grey);
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.service-card .service-cta {
  font-size: 2.5rem;
}

.service-card:hover {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/img/4.jpg");
  background-position: center;
  background-size: cover;
  color: white;
}
.service-card:hover .service-desc {
  color: white;
}

/* counter */
.counter {
  padding: 6rem 5rem;
  background: linear-gradient(
      var(--col-primary-opacity),
      var(--col-primary-opacity)
    ),
    url("/img/sections/bg2.jpg") center center / cover;
  background-attachment: fixed;
}
.counter .container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.counter__wrapper {
  display: flex;
  flex-direction: column;
  color: var(--col-white);
  padding: 1rem;
  text-align: center;
}
.counter__wrapper .counter__icon {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.counter__text h3 {
  width: 15rem;
  margin-bottom: 0.5rem;
  font-size: 3.2rem;
  font-weight: 600;
}

.counter__text h4 {
  font-size: 2rem;
  font-weight: 500;
}

/* team section */
section.team {
  padding: 6rem 1rem;
}

.team .team__top {
  text-align: center;
  margin-bottom: 5rem;
}

.team__cards {
  display: flex;
  flex-wrap: wrap;
}

.team__card {
  position: relative;
  width: 30%;
  margin: 1.5rem;
  text-align: center;
  overflow: hidden;
}

.team__card img {
  width: 100%;
}

.team__card-text {
  position: absolute;
  top: 0;
  padding: 5rem;
  padding-top: 12rem;
  background: var(--col-primary);
  height: 100%;
  width: 100%;
  transition: 0.5s all ease-in-out;
  opacity: 0;
  color: var(--col-white);
  transform: translateY(-100%);
}

.team__card:hover .team__card-text {
  opacity: 1;
  transform: translateY(0);
}

.team__card-text h3 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.team__card-text p {
  font-size: 1.7rem;
}

.team__card-text .team__socials {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4rem;
}

.team__socials i {
  color: var(--col-white);
}

/* companies section */
.companies {
  padding-bottom: 9rem;
  padding-top: 6rem;
  background-color: var(--col-light-grey);
}

.companies__top {
  margin-bottom: 8rem;
  text-align: center;
}

.company {
  width: 15%;
}
.company img {
  width: 100%;
}

.companies__wrapper {
  display: flex;
  justify-content: space-between;
}

/* contact section */
.contact {
  padding: 8rem 1rem;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("/img/all/inner.jpg") no-repeat center center / cover;
  background-attachment: fixed;
  color: var(--col-white);
}

.contact__wrapper {
  display: flex;
}

.contact__left,
.contact__right {
  width: 100%;
}

.contact__left {
  padding-right: 5rem;
}

.contact form {
  background: var(--col-white);
  color: var(--col-black);
  border-radius: 0.3rem;
  padding: 5rem;
}

.contact__left .btn {
  margin-top: 2.5rem;
  text-align: center;
  display: block;
}

.contact__right .section-span {
  color: var(--col-white);
}

.contact__right p {
  color: var(--col-light-grey);
  line-height: 3rem;
  margin-bottom: 6.5rem;
}

.contact__right .btn {
  text-align: center;
  display: block;
}

/* footer */
footer {
  background: var(--col-primary);
  padding: 3rem 1rem;
  color: var(--col-white);
}

footer .footer__wrapper {
  display: flex;
  justify-content: space-between;
}

.footer__text {
  font-weight: 500;
}

.footer__socials {
  display: flex;
  justify-content: space-around;
}

.footer__socials li a {
  margin-right: 3rem;
  color: var(--col-white);
}
