@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

/* variables */
:root {
  --col-primary: #007aff;
  --col-primary-dark: #086ad8;
  --col-grey: #a0a0a0;
  --col-light-grey: #f4f9fc;
  --col-dark-grey: #666;
  --col-white: #fafafa;
  --col-black: #1d1d1d;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* utility classes */
.bg-primary {
  background-color: var(--col-primary);
}
.bg-white {
  background: var(--col-white);
}
.text-primary {
  color: var(--col-primary);
}
.text-light {
  color: var(--col-grey);
}
.text-white {
  color: var(--col-white);
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}
.d-flex {
  display: flex;
}

.btn {
  display: inline-block;
  background-color: var(--col-white);
  padding: 1.2rem 2.3rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.section-cta {
  padding: 1.5rem 4rem;
  background: var(--col-primary);
  color: var(--col-white);
  font-weight: 1.7rem;
  font-weight: 600;
}
.section-cta:hover {
  background: var(--col-primary-dark);
  color: var(--col-white);
}

.section-span {
  display: block;
  margin-bottom: 2rem;
  color: var(--col-dark-grey);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 1px;
}
.section-title {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 5rem;
  margin-bottom: 3rem;
}

.quote {
  background-color: var(--col-light-grey);
  padding:1.8rem;
  border-left: 3px solid var(--col-primary);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.8rem;
}

.transition-sm {
  transition: 0.2s all;
}

/* main styles */

/* topBar */
.topBar {
  padding: 1.5rem;
  background: var(--col-white);
  font-size: 1.4rem;
}
.topBar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topBar li {
  margin-right: 1.5rem;
}
.topBar i {
  float: left;
  margin-right: 0.6rem;
  margin-top: 2px;
  font-size: 1.5rem;
}

/* navbar */
.nav {
  padding: 1rem;
  margin-left: -1rem;
  background-color: var(--col-primary);
  color: var(--col-white);
  font-size: 1.6rem;
  font-weight: 500;
}
.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav .nav__menu {
  display: flex;
}

.nav__menu li {
  margin-right: 3.5rem;
}

.nav__menu li a {
  color: var(--col-white);
}
.nav__quote {
  transition: 0.2s all;
}
.nav__quote:hover {
  background: var(--col-primary-dark);
  color: white;
}

/* header */
.header {
  height: 90vh;
  color: var(--col-white);

  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/img/sections/bg1.jpg") no-repeat center center / cover;
}

.header .container {
  height: 100%;
}

.header__content {
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__title {
  margin-bottom: 2.5rem;
  font-size: 6rem;
  line-height: 7.2rem;
  font-weight: 700;
  width: 100%;
}

.header__para {
  margin-bottom: 3.5rem;
  line-height: 3.2rem;
  font-weight: 400;
}

.header .header__btn {
  padding: 2rem 3.5rem;
  background: var(--col-primary);
  color: var(--col-white);
  font-weight: 1.7rem;
  font-weight: 600;
}

.header .header__btn:hover {
  background: var(--col-white);
  color: var(--col-black);
}

/* aboutus section */
.about-us {
  padding: 7rem 1rem;
}
.about-us .container {
  display: flex;
  flex: 1;
}

.about-us__left,
.about-us__left img,
.about-us__right {
  width: 100%;
}

.about-us__left {
  padding-right: 5.5rem;
}

.about-us__right {
display: flex;
flex-direction: column;
justify-content: space-evenly;
}

.about-us__right .para {
  color: var(--col-dark-grey);
  line-height: 3rem;
}
